/*****reset personali******/
header{
	width: 100%;
	background-color: #2c3e50;
	color: white;
}
ul{
	list-style-type: none;
}


/******************************/


/*footer*******/
.ms_container-mio{
	padding: 1rem;
}
.ms_container-mio ul, h2{
	margin: 0px;
	padding: 0px;
}
.ms_comand-footer{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.ms_comand-footer ul{
	display: flex;
	align-items: center;
}
.ms_comand-footer li{
	margin-left: 15px;
}
h2{
	margin-bottom: 1rem;
}
/***jumb*****/
.bg_green{
	background-color: mediumseagreen;
	width: 100%;
}
.banner_fix{
	width: 50%;
	/*test**/
	height: 40vh;
	background-color: chocolate;
	/*******/
	margin: 0 auto;
}

/**********main********/
